<!doctype.html>
<html>
<!--   <head>
      <title>contact details</title>
	 <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	  <!-- <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>  -->
<!--	 <script src="bower_components/angular/angular.min.js"></script>
	 <script src="angular-messages/angular-messages.min.js"></script>
	 <script src="bower_components/lodash/dist/lodash.min.js"></script>
	  <script src="bower_components/restangular/dist/restangular.min.js"></script>
	 <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	 <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	
	<script src="count.js"></script>
	<script src="countctrl.js"></script>      -->
	<!-- <script src="countcustctrl.js"></script>  
	<script src="countservices.js"></script>  --> 
	
 <link rel="stylesheet" href="src/css/count.css">




<!--<script>
var app=angular.module("myApp",['ngMessages']);
app.controller('myCtrl',['$scope',function($scope){}	
]);	 
	 
 </script>-->
	 
<script type="text/ng-template"id="messages1.html">
<p ng-message="required">field required</p>
</script>	 
	
	
	
	
	
</head>		
<body>


	</br>
	<div class="main-login main-center">
   <center><div class="headding"><h3>Contact Page</h3></div></center>
   
   
   
	<form class="form-group"  name="myForm"  novalidate="">
	
	 </br>
	 </br>
	
	 
	  <div class="row0">
		<label for="name" class="col-sm-2 control-lable">Emp id:<span class="required1"></span></label>
			<div class="col-sm-10">
				<input type="text" class="form-control" ng-model="data.employeeid" name="empid1" id="empid2" placeholder="employee id" required />
				{{data.employeeid}}
			</div>
	   </div>
	<br/>
	<br/>
	<br/>
	<br/>
	
	
	 
	  <div class="row1">
	    <label for="street" class="col-sm-2 control-label">Street:<span class="required1"></span></label>
		    <div class="col-sm-10">
			     <input type="text" class="form-control" ng-model="data.street" name="street1" id="street2" placeholder="Enter street" required/>
                 {{data.street}}
                 <div ng-messages="myForm.street1.$error" ng-if="myForm.street1.$touched && myForm.street1.$error">
				 <div ng-messages-include="messages1.html"></div>
				 </div>
			</div>
	   </div>
	   
		<br/>
		<br/>
		<br/>
		<br/>
		
		
	   
	  <div class="row2">
	     <label for="area" class="col-sm-2 control-label">Area:<span class="required1"></span></label>
		    <div class="col-sm-10">
			   <input type="text" class="form-control" ng-model="data.area" name="area1" id="area2" placeholder=" Enter area" required/>
			   {{data.area}}
			   <div ng-messages="myForm.area1.$error" ng-if="myForm.area1.$touched && myForm.area1.$error">
			   <div ng-messages-include="messages1.html"></div>
			   </div>
			   
	       </div>
		</div>
		
		
		<br/>
		<br/>
		<br/>
		<br/>
		
		
		
	   <div class="row3">
	     <label for="city" class="col-sm-2 control-label">City:<span class="required1"></span></label>
		   <div class="col-sm-10">
		   <!-- <input type="text" class="form-control" ng-model="data.city" name="city1" id="city2" placeholder=" Enter city" required/>-->
		        <select ng-model="data.city"  class="form-control" ng-options="c for c in cities">
					 	<option value='' disabled>--Please select--</option>
			    </select>
	           {{data.city}}
			   <div ng-messages="myForm.city1.$error" ng-if="myForm.city1.$touched && myForm.city1.$error">
			   <div ng-messages-include="messages1.html"></div>
			   </div>
			</div>
       </div>			
			   
		<br/>
		<br/>
		<br/>
		<br/>
		
		
		
      <div class="row4">
        <label for="state" class="col-sm-2 control-label">State:<span class="required1"></span></label>
           <div class="col-sm-10">
				<select ng-model="data.state"  class="form-control" ng-options="c for c in states">
					 	<option value='' disabled>--Please select--</option>
			    </select>
			   <div ng-messages="myForm.state1.$error" ng-if="myForm.state1.$touched && myForm.state1.$error">
		       <div ng-messages-include="messages1.html"></div>
	           </div>
		    </div>
	  </div>


		<br/>
		<br/>
		<br/>
		<br/>
		
		
		
	   <div class="row5">
          <label for="pincode" class="col-sm-2 control-label">Pincode:<span class="required1"></span></label>
            <div class="col-sm-10">
               <input type="text" class="form-control" ng-model="data.postal_code" name="pincode1" id="pincode2" placeholder="Enter pincode" required/>
			   {{data.postal_code}}
			   <div ng-messages="myForm.pincode1.$error" ng-if="myForm.pincode1.$touched && myForm.pincode1.$error">
		       <div ng-messages-include="messages1.html"></div>
	           </div>
		    </div>
	   </div>
		
		<br/>
		<br/>
		<br/>
		<br/>
		
		
		
		
	  <div class="row6">
          <label for="country" class="col-sm-2 control-label">Country:<span class="required1"></span></label>
            <div class="col-sm-10">
               <input type="text" class="form-control" ng-model="data.country" name="contry1" id="country2" placeholder="Enter country" required/>
			   {{data.country}}
			   <div ng-messages="myForm.contry1.$error" ng-if="myForm.contry1.$touched && myForm.contry1.$error">
		       <div ng-messages-include="messages1.html"></div>
	           </div>
		    </div>
	   </div>	
		
		
		<br/>
		<br/>
		<br/>
		<br/>
		
		
		<div class="row7">
          <label for="telephone" class="col-sm-2 control-label">Telephone no:<span class="required1"></span></label>
            <div class="col-sm-10">
               <input type="text" class="form-control" ng-model="data.telephone" name="telophone1" id="telephone2" placeholder="Enter telephone number" required/>
			   {{data.telephone}}
			   <div ng-messages="myForm.telophone1.$error" ng-if="myForm.telophone1.$touched && myForm.telophone1.$error">
		       <div ng-messages-include="messages1.html"></div>
	           </div>
		    </div>
	    </div>	
		
		
		
		<br/>
		<br/>
		<br/>
		<br/>
		
		
	   <div class="row8">
          <label for="personal email" class="col-sm-2 control-label">Personal email:<span class="required1"></span></label>
            <div class="col-sm-10">
               <input type="text" class="form-control" ng-model="data.personal_emailid" name="personal" id="personal2" placeholder="Enter personal email" required/>
			   {{data.personal_emailid}}
			   <div ng-messages="myForm.personal.$error" ng-if="myForm.personal.$touched && myForm.personal.$error">
		       <div ng-messages-include="messages1.html"></div>
	           </div>
		    </div>
	    </div>	
		
		<br/>
		<br/>
		<br/>
		<br/>
		
		
		
		
		
		
		<div class="row11">
		  <div class="col-sm-6">
		   <center><button type="refersh" class="btn btn-primary btn-large"  value="Refresh Page" onClick="window.location.reload()">Reset</button></center>
		</div>
		
	
		 <div class="col-sm-6">
		    <center><button type="submit" class="btn btn-primary btn-large"   ng-disabled="myForm.$invalid" ng-click="submit()">Save</button></center>
		 </div>
	   </div>
		
		
		
		
		
</div>		
    </form>
	
	{{result}}
	</body>
</html>