<!Doctype html>
<html>
<head>
  
	  <link rel="stylesheet" href="src/css/myinfo.css">
	  
	  
	  
	  
 </head>

 <body>
 </br>
 </br>
    <!-- <div class="main-login main-center"> -->
	 <center><div class="headding"><h3>My info</h3></div></center>
	   <!-- {{ere1}} -->
	   </br>
	   </br>
	     <div ng-repeat="ere in ere1"> 
		 <table style="width:100%" class="col-md-12 table-bordered table-striped table-condensed cf">
		 <tr class="ww">
            <td>Employeeid:</td>               <td>{{ere.employeeid}}</td>
		</tr>
		<tr class="ww">
		    <td>Firstname:</td>                <td>{{ere.firstname}}</td>
		</tr >
		<tr>
			 <td>Middlename: </td>             <td> {{ere.middlename}}</td>
		</tr>
		<tr>
			<td>Lastname: </td>                <td>{{ere.lastname}} </td>
		</tr>
		<tr>
			 <td>Employeeid: </td>             <td>{{ere.employeeid}} </td>
		</tr>
		<tr>
			 <td>Role: </td>                   <td>{{ere.rolename}}   </td>
		</tr>
		<tr>
		    <td> Email-id:</td>              <td>  {{ere.emailid}} </td>
		</tr>
		<tr>
			<td> Accesscard number:</td>      <td> {{ere.accesscardnumber}}</td>
		</tr>
		<tr>
			 <td>DateofBirth:</td>          <td>   {{ere.dateofbirth}}</td>
		</tr>
		<tr>
			<td> Dateofjoining:</td>        <td>   {{ere.dateofjoining}}</td>
		</tr>
		<tr>
		    <td>Contact number:</td>        <td>   {{ere.mobilenumber}} </td>
		</tr>
		<tr>
			<td>Departname:</td>            <td>   {{ere.deptname}}</td>
		</tr>
		<tr>
			<td>Shift:</td>                <td>  {{ere.shift}}</td>
		</tr>
		<tr>
             <td>Gender: </td>               <td>   {{ere.gender}}</td>
		</tr>
		<tr>
			<td>Remotelogin:</td>             <td> {{ere.remotelogin}}</td>
		</tr>
		<tr>
			<td>Status:</td>                 <td>  {{ere.status}}</td>
		</tr>
        </table>

			<!--<h3> Contact Details</h3>
			
			Street:              {{ere.street}}</br>
			Area:                {{ere.area}}</br>
			City:                {{ere.city}}</br>
			State:               {{ere.state}}</br>
			Postalcode:          {{ere.postalcode}}</br>
			Country:             {{ere.country}}</br>
			Telephone:           {{ere.telephone}}</br>
			Personalmail:        {{ere.personalmail}}</br>-->
          
			<center><a ui-sref="cont.html"><button type="submit" class="btn btn-primary btn-large" ng-click="editItem(ere)">Edit CONTACT Details</button></a></center>
			
	    </div>
	 </div>
   </body>
</html>

 
