<!doctype.html>
<html>
<head>
  <title>--config page---</title>
     <!-- <script type="text/javascript" src="jquery.min.js"></script>  
      <script src="angular.min.js"></script>	
      <script src="bootstrap.min.js"></script>
      <link rel="stylesheet"  href="bootstrap.min.css"></script>-->
	 <link rel="stylesheet" href="src/css/configgg.css">  
	  
</head>
<body>
   
    <center><div class="headder"><h1><b>OFFICE AUTOMATION</b></h1></div></center>
      <br>
	  
	  
 	<div class="container"> 




 <div class="row3">
	 <div class="col-sm-4">
	 <div class="height2">
	       <img src="resources/images/config.jpg" class="img-circle" alt="config"  width="300px" height="300px">
	 <div class="dropdown">
    &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">CONFIGURATION
    <span class="caret"></span></button>
		
		
		
	<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
       <table class="table1 table-bordered">
     <thead>
       <tr>
       <th>&nbsp&nbspRoles  Config</th>
    <th>&nbsp&nbspLeave Congig</th>
    <th>&nbsp&nbspDepartment Config</th>
    </tr>
     </thead>
     <tbody>
     <tr>
       <td> <a ui-sref="createrole">Create Role</a></td>
     <td><a ui-sref="createleave">Create Leave</a></td>
    <td><a  ui-sref="adddept">Add Department</a></td>
        </tr>
   <tr>
      <td><a  ui-sref="addfeature">Add Feature</a></td>
      <td><a  ui-sref="leaveperiod">Leave Period</a></td>
   </tr>
    
    <tr>
		 <td><a ui-sref="allotpermission">Allot Permission</a></td>
		<td> <a  ui-sref="workweek">Work Week</a></td>  
   </tr>
   <tr>
        <td><a  ui-sref="role feature">Role Features</a></td>
		<td><a  ui-sref="createholiday">Create Holiday</a></td>
   </tr>
      
   </tbody>
   </table>
    </ul>
  </div>
	 
	  
  </div>
  </div>
	
	 
	 <div class="col-sm-4">
	 <div class="height2">
	        <img src="resources/images/profile.jpg" class="img-circle" alt="profile" width="300px" height="300px" >
		<div class="dropdown">
	     <button class="btn btn-primary dropdown-toggle" id="menu2" type="button" data-toggle="dropdown">PROFILE
             <span class="caret"></span></button>
		
		<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
		 <table class="table2 table-bordered">
		<tbody>
		<tr>
         <td> <a ui-sref="newregis">Registration</a></td>	
	   </tr>
	   
	   <tr>
        <td><a  ui-sref="myinfogetlist">All Emp Details</a></td>
      </tr>
	  
	   <tr>
        <td><a  ui-sref="myinfo">My Info</a></td>
      </tr>
	  
	  <tr>
        <td><a  ui-sref="cont">Contact details</a></td>
      </tr>

	  <tr>
        <td><a  ui-sref="ch">Change Password</a></td>
      </tr>
	  
	   <tr>
        <td><a  ui-sref="createvisitors">Create Visitors</a></td>
      </tr>
	  
	   <tr>
        <td><a  ui-sref="pagination1">Visitors Data</a></td>
      </tr>
	  
	  </tbody>
	  </table>
	 </ul>
    </div>
	  </div>
	 </div>
	
	<div class="col-sm-4">
	 <div class="height2">
	     <img src="resources/images/attendence.jpg" class="img-circle" alt="attendance" width="300px" height="300px" >
			 <div class="dropdown">
	         <button class="btn btn-primary dropdown-toggle" id="menu2" type="button" data-toggle="dropdown">ATTENDENCE
             <span class="caret"></span></button>
		
			<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
			 <table class="table3 table-bordered">
			<tbody>
				 <tr>
				 <td> <a  ui-sref="viewatt">Veiw Attendence</a></td>	
				 </tr>
			   
				 <tr>
				 <td><a  ui-sref="Usertracking">User Tracking</a></td>
				 </tr>
				 
				 <tr>
				 <td><a  ui-sref="timesheetnew">Time Sheet</a></td>
				 </tr>
		  
		         <tr>
				 <td><a  ui-sref="swipedetailsnew">Swipe Details</a></td>
				 </tr>
		   
		   </tbody>
		   </table>
		  </ul>
     </div>
	   
	   
	   
	 </div>
	 </div>
</div>
	




<div class="row3">
	 <div class="col-sm-4">
	 <div class="height2">
	     <img src="resources/images/leave.jpg" class="img-circle" alt="leave" width="300px" height="300px" >
	  	  <div class="dropdown">
	         <button class="btn btn-primary dropdown-toggle" id="menu2" type="button" data-toggle="dropdown">LEAVE
             <span class="caret"></span></button>
		
			<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
			 <table class="table4 table-bordered">
			<tbody>
				 <tr>
				 <td> <a ui-sref="applyleave">Apply Leave</a></td>	
				 </tr>
			   
				 <tr>
				 <td><a  ui-sref="searchholi">Search Holiday</a></td>
				 </tr>
		  
		  
		         <tr>
				 <td><a  ui-sref="mang1">Leave Management</a></td>
				 </tr>
		  
		   
		   </tbody>
		   </table>
		  </ul>
     </div>
	 
	  
  </div>
  </div>
	
	 
	 <div class="col-sm-4">
	 <div class="height2">
	    <img src="resources/images/events.png" class="img-circle" alt="events" width="300px" height="300px" >
	   <div class="dropdown">
	         <button class="btn btn-primary dropdown-toggle" id="menu2" type="button" data-toggle="dropdown">EVENTS
             <span class="caret"></span></button>
		
			<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
			 <table class="table5 table-bordered">
			<tbody>
				  <tr>
				 <td><a  ui-sref="event">Add Event</a></td>
				 </tr>
		  
		    
		   
		   </tbody>
		   </table>
		  </ul>
     </div>
	  </div>
	 </div>
	
	<div class="col-sm-4">
	 <div class="height2">
	     <img src="resources/images/reports.jpg" class="img-circle" alt="reports" width="300px" height="300px" >
	  <div class="dropdown">
	         <button class="btn btn-primary dropdown-toggle" id="menu2" type="button" data-toggle="dropdown">REPORTS
             <span class="caret"></span></button>
		
			<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
			 <table class="table2 table-bordered">
			<tbody>
				 
		   
		   </tbody>
		   </table>
		  </ul>
     </div>
	   
	   
	   
	 </div>
	 </div>
</div>	  
	  
</div>
</body>
</html>