<!doctype html>
<html>
<head>

  <title>Tiles</title>
	 <!--<script type="text/javascript" src="dest/bower_components/jquery/dist/jquery.min.js"></script>
	 
	 
	
	
	 <script src="dest/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	 <link rel="stylesheet" href="../dest/bower_components/bootstrap/dist/css/bootstrap.min.css">-->
	 
	<!-- <script>
	 document.querySelector("#myCard").classList.toggle("flip")
	 </script>-->
	 
	 <link rel="stylesheet"  href="src/css/tt.css">
	 </head>
	
	 
	
	  
	 <!-- <body style="background-image:url(bg.jpg); background-repeat:no-repeat"> -->
	 <body style="background-color:#808080; background-repeat:no-repeat">
	 
	 
	  <div>
	  <center> <h3 style="color:black; background-color:white; border-radius:20px; width:100%;height:60px; margin-top:5px;padding-top:15px"><b>Admin Login</b></h3></center>
	  </div>
	
	
	 
<div class="row">
<div class="col-sm-4">
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
        <img src="resources/images/download.jpg"		style="background-repeat:no-repeat; margin-left:20px; border-radius:10px; width:100%; height:100%">
			<p style="margin-top:30px; margin-left:40px; font-size:30px; color:black"><b>Configuration</b></p>
		</div>
		<div class="back">
			<ul>
                  <li><a href="#createrole">Create Role</a></li>
				  <li><a  href="#addfeature">Add Feature</a></li>
				  <li><a href="#allotpermission">Allot Permission</a></li>
				  <li><a  href="#role feature">Role Features</a></li>
			</ul>
</br>
</br>
<ul>
  <li><a href="#createleave">Create Leave</a></li>
  <!-- <li><a  href="#leaveperiod">Leave Period</a></li> -->
  <li><a  href="#workweek">Work Week</a></li>
  <li><a  href="#createholiday">Create Holiday</a></li>
</ul>
</br>
</br>
<ul>
  <li><a  ui-sref="adddept">Add Department</a></li>
  
</ul>






 
	     </div>
	</div>
</div>
</div>
	
	<div class="col-sm-4">
	<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
         <img src="resources/images/pro.png"	style="background-repeat:no-repeat; margin-left:5px; border-radius:10px; width:100%; height:100%">
			<p style="margin-top:30px; margin-left:100px; font-size:30px; color:black"><b>Profile</b></p>
		</div>
		<div class="back">
			<ul>
				  <li><a href="#newregis">Registration</a></li></br>
				  <li><a  href="#myinfogetlist">All Emp Details</a></li></br>
				  <li><a  href="#myinfo">My Info</a></li></br>
			
				  <li><a  href="#cont">Contact details</a></li></br>
				  <li><a  href="#ch">Change Password</a></li></br>
				  <li><a  href="#createvisitors">Create Visitors</a></li></br>
				  <li><a  href="#pagination1">Visitors Data</a></li>
			</ul>
		</div>
	</div>
   </div>
   </div>


   
   
   
   
   

<div class="col-sm-4">
	<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front"> 
		<img src="resources/images/att.jpg" style="background-repeat:no-repeat; margin-left:0px; border-radius:10px; width:100%; height:100%">
		<!-- style="background-image:url(att.jpg); background-repeat:no-repeat; border:solid 2px black"> -->
			<p style="margin-top:30px; margin-left:60px; font-size:30px ; color:black"><b>Attendence</b></p>
		</div>
		<div class="back">
			<ul>
			       <li><a  href="#attendance">Veiw Attendence</a></li></br>
				  <li><a  href="#Usertracking">User Tracking</a></li></br>
				  <li><a  href="#timesheet">Time Sheet</a></li></br>
				  <li><a  href="#swipedetailsnew">Swipe Details</a></li></br>
			
				  
			</ul>
		</div>
	</div>
</div>
</div>

</div>

</br></br></br></br></br>




<div class="row1">
<div class="col-sm-4">
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
        <img src="resources/images/leave.jpg"  style="background-repeat:no-repeat; margin-left:0px; border-radius:10px; width:100%; height:100%">
			<p style="margin-top:30px; margin-left:100px; font-size:30px; color:black"><b>Leave</b></p>
		</div>
		<div class="back">
				<ul>
				  <li><a href="#applyleave">Apply Leave</a></li></br>
				  <li><a  href="#searchholi">Search Holiday</a></li></br>
				  <li><a  href="#mang1">Leave Management</a></li></br>
				  </ul>
		</div>
	</div>
	</div>
	</div>
	
	<div class="col-sm-4">
	<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
         <img src="resources/images/events.jpg"	style="background-repeat:no-repeat; margin-left:0px; border-radius:10px; width:100%; height:100%">
			<p style="margin-top:30px; margin-left:120px; font-size:30px; color:black"><b>Events</b></p>
		</div>
		<div class="back">
		<ul>
			<li><a  href="#event">Add Event</a></li>
		</ul>
		</div>
	</div>
   </div>
   </div>



<div class="col-sm-4">
	<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front"> 
		<img src="resources/images/repo.jpg" style="background-repeat:no-repeat; margin-left:0px; border-radius:10px; width:100%; height:100%">
		<!-- style="background-image:url(att.jpg); background-repeat:no-repeat; border:solid 2px black"> -->
			<p style="margin-top:30px; margin-left:110px; font-size:30px ; color:black"><b>Reports</b></p>
		</div>
		<div class="back">
			back
		</div>
	</div>
</div>
</div>

</div>





</body>
</html>